<div class = "container text-center">
<h1>About page</h1>
<p>We are DevMatch. Our company focuses on creating an exclusive community developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eum eveniet provident alias odio autem ratione, et expedita repellat beatae. Fuga ratione deleniti nesciunt amet. Tenetur sint nulla, perferendis vero.</p>
</div>